# **Identification of Crime Prone Areas**

**Group ID:** 16

**Group Guides:**

Dr.Irfan Siddavatam



**Group Members:**

1814002 - Dhruv Doshi

1814006 - Shubham Bhakuni

1814015 - Labdhi Jain

1814021 - Kunj Gala


**Dataset to be used:** NYPD Dataset (5 Million plus rows, 19 columns)

**Objectives for demonstration:**


1. Data Preprocessing


*   Data Cleaning
*   Data Reduction
*   Data Integration
*   Data Conversion
*   Data Sampling
*   Creating Dummy Variables (one-Hot Encoding)

2. Data Visualization

# Data Sampling

In [ ]:
import pandas as pd
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
link = 'https://drive.google.com/file/d/1ENQyS4FYMLjw5mTK-V-CY67Hrx2L1Hu0/view?usp=sharing'

id = link.split("/")[-2]

downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('df_after_conversion.csv')  

df = pd.read_csv('df_after_conversion.csv')

In [ ]:
max(df['Latitude'])

40.914065

In [ ]:
min(df['Latitude'])

40.498905

In [ ]:
max(df['Longitude'])

-73.700291

In [ ]:
min(df['Longitude'])

-74.25456

In [ ]:
diff_lat = max(df['Latitude'])-min(df['Latitude'])
diff_long = max(df['Longitude']) - min(df['Longitude'])

In [ ]:
df = df.sample(frac =.25, random_state=25)

In [ ]:
df.shape

(1217801, 13)

# Creating Dummy Variables (one-Hot Encoding)

In [ ]:
df_dummy = pd.get_dummies(df, columns=['PATRL_BORO_NM','CIP_JOBS'])

In [ ]:
df_dummy.drop(df_dummy[df_dummy['PATRL_BORO_NM_(null)']==1].index,axis=0,inplace=True)

In [ ]:
df_dummy.head()

         Unnamed: 0  CAD_EVNT_ID  ...  CIP_JOBS_Non Critical CIP_JOBS_Serious
1235751     1235751     75164512  ...                      0                0
1216382     1216382     75641269  ...                      0                0
4583761     4583761     79839657  ...                      0                0
481231       481231     74106547  ...                      0                0
4186316     4186316     79325508  ...                      0                0

[5 rows x 24 columns]

In [ ]:
df_dummy.drop(['Unnamed: 0','PATRL_BORO_NM_(null)'],axis=1,inplace=True)

In [ ]:
df_dummy.head()

         CAD_EVNT_ID  NYPD_PCT_CD  ... CIP_JOBS_Non Critical CIP_JOBS_Serious
1235751     75164512        110.0  ...                     0                0
1216382     75641269        106.0  ...                     0                0
4583761     79839657        120.0  ...                     0                0
481231      74106547         73.0  ...                     0                0
4186316     79325508         41.0  ...                     0                0

[5 rows x 22 columns]

In [ ]:
df_dummy.columns

Index(['CAD_EVNT_ID', 'NYPD_PCT_CD', 'RADIO_CODE', 'ADD_TS', 'DISP_TS',
       'ARRIVD_TS', 'CLOSNG_TS', 'Latitude', 'Longitude', 'INCIDENT_DATE_TIME',
       'PATRL_BORO_NM_PATROL BORO BKLYN NORTH',
       'PATRL_BORO_NM_PATROL BORO BKLYN SOUTH',
       'PATRL_BORO_NM_PATROL BORO BRONX',
       'PATRL_BORO_NM_PATROL BORO MAN NORTH',
       'PATRL_BORO_NM_PATROL BORO MAN SOUTH',
       'PATRL_BORO_NM_PATROL BORO QUEENS NORTH',
       'PATRL_BORO_NM_PATROL BORO QUEENS SOUTH',
       'PATRL_BORO_NM_PATROL BORO STATEN ISLAND', 'CIP_JOBS_Critical',
       'CIP_JOBS_Non CIP', 'CIP_JOBS_Non Critical', 'CIP_JOBS_Serious'],
      dtype='object')

In [ ]:
df_dummy.shape

(1217784, 22)